<% content_for :breadcrumb do %>
	<span class="breadcrumbitem"><%= link_to @project.name, @project %></span>
	<span class="breadcrumbgt">&gt;</span>
	<span class="breadcrumbitem"><%= link_to @task.name, @task %></span>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Tasktype:</b>
  <%= @task.tasktype %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @task.difficulty %>
</p>

<p>
  <b>Folder:</b>
  <%= link_to @task.task_folder.name, task_folder_path(@task.task_folder_id) %>
</p>

<p>
  <b>Project:</b>
  <%= @task.project.name %>
</p>


<%= link_to 'Edit', edit_task_path %> |
<%= link_to 'Back', task_folder_path(@task.task_folder_id) %>
