<%= form_for(@task_folder) do |f| %>
  <% if @task_folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_folder.errors.count, "error") %> prohibited this task_folder from being saved:</h2>

      <ul>
      <% @task_folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id, :value => @task_folder.project_id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= 
	default = '<option value="">' + @project.name + '</option>'
	select("task_folder", "parent_id", default.html_safe+options_for_select(nested_set_options(@possible_parents, @task_folder) {|i| "#{'-' * (i.level+1)} #{i.name}" }, @task_folder.parent_id))
   	%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
