<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task_folder.name %>
</p>

<%= link_to 'Show Tasks', tasks_task_folder_path(@task_folder) %> |

<%= link_to 'Edit', edit_task_folder_path(@task_folder) %> |
<%= link_to 'Back', task_folders_project_path(@project) %>
