<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task_folder.name %>
  <% if @task_folder.parent_id == nil %>
  	(<%= link_to 'Return to project', folders_project_path(@task_folder.project) %>)
  <% else %>
    (<%= link_to 'Up to one level', task_folder_path(@task_folder.parent_id) %>)
  <% end %>
</p>

<%= render '/task_folders/list_subfolders' %>

<p>
	<strong>Tasks:</strong>
	<ul>
<% @tasks.each do |task| %>
		<li>
			<strong><%= link_to task.name, task_path(task) %></strong>
		    <%= task.tasktype %>
			<%= task.difficulty %>
			(<%= link_to 'Delete', task, confirm: 'Are you sure?', method: :delete %>)
		</li>
<% end %>
	</ul>
</p>

<p><%= link_to 'Create Task', tasks_new_task_folder_path(@task_folder) %></p>

<%= link_to 'Edit', edit_task_folder_path(@task_folder) %>
