<% content_for :breadcrumb do %>
	<span class="breadcrumbitem"><a href="/projects">Projects</a></span>
	<span class="breadcrumbgt">&gt;</span>
	<span class="breadcrumbitem"><%= link_to @project.name, @project %></span>
<% end %>

<p id="notice"><%= notice %></p>

<% content_for :leftbar do %>
	<ul>
		<li class="selected"><%= link_to @project.name, project_path(@project.id) %></li>
		<li><%= link_to 'About', about_project_path(@project.id) %></li>
		<li><%= link_to 'Project', folders_project_path(@project.id) %></li>
		<li><%= link_to 'Tasks', tasks_project_path(@project.id) %></li>
	</ul>
<% end %>

<img class="project_image" src="/assets/project-default-icon.png" />

<p>
  <span style="font-size: large"><%= @project.name %></span>
</p>
<p>
  A <%= @project.players %> <%= @project.genre %> game on the <%= @project.engine %> engine.
</p>

<p>
  <b>Status:</b> <%= @project.status %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Destroy', @project, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', projects_path %>
