<% content_for :breadcrumb do %>
	<span class="breadcrumbitem"><a href="/projects">Projects</a></span>
	<span class="breadcrumbgt">&gt;</span>
	<span class="breadcrumbitem"><%= link_to @project.name, @project %></span>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Engine:</b>
  <%= @project.engine %>
</p>

<p>
  <b>Genre:</b>
  <%= @project.genre %>
</p>

<p>
  <b>Type:</b>
  <%= @project.players %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<%= render '/task_folders/list_subfolders' %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Destroy', @project, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Back', projects_path %>
