<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Engine:</b>
  <%= @project.engine %>
</p>

<%= link_to 'Show Tasks', tasks_project_path %> |

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
