<!DOCTYPE html>
<html>
<head>
  <title>Hivemind</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <div id="breadcrumb">
	  <%= yield :breadcrumb %>
    </div>
    <div id="loginbox">
      <a href="/"><img id="hivemindlogo" src="/assets/header-hivemind.png" /></a>
      <p>
        Welcome to Hivemind!<br />
        You will be assimilated.
      </p>
    </div>
  </div>

  <div id="page">
    <div id="leftbar">
      <%= yield :leftbar %>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
